# Ignorar la carpeta de dependencias de Composer
/vendor

# Ignorar los archivos de configuración específicos del entorno
/config.php

# Ignorar todos los archivos .env donde se guardan las variables de entorno
*.env

# Ignorar la carpeta de node_modules si estás usando Node.js para gestionar dependencias de frontend
/node_modules

# Ignorar las carpetas y archivos generados por IDEs y editores de texto
.idea/
.vscode/
*.swp
*.swo

# Ignorar archivos temporales y de cache
*.log
*.cache
/tmp
/cache

# Ignorar la carpeta de sesiones de PHP si se almacenan en el sistema de archivos
/sessions

# Reglas específicas para macOS
.DS_Store
.AppleDouble
.LSOverride

# Icon?
Icon

# Thumbnails
._*

# Archivos que podrían contener credenciales
db.ini